* {
    margin: 0;
    padding: 0;
 }
 body, html {
    height:100%;
 }
 .list {
  
 
 }
 #view {
    
    
 }
 .right {
   
 }

 ol li {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
 }